SCHEMATIC START ;
// created by map version G.28 on Mon Mar 19 09:57:10 2007 
COMP "e" LOCATE =  SITE "P7" LEVEL 1; 
COMP "f" LOCATE =  SITE "P181" LEVEL 1; 
COMP "g" LOCATE =  SITE "P178" LEVEL 1; 
COMP "p" LOCATE =  SITE "P202" LEVEL 1; 
COMP "b0" LOCATE =  SITE "P67" LEVEL 1; 
COMP "b1" LOCATE =  SITE "P70" LEVEL 1; 
COMP "b2" LOCATE =  SITE "P74" LEVEL 1; 
COMP "b3" LOCATE =  SITE "P82" LEVEL 1; 
COMP "a" LOCATE =  SITE "P189" LEVEL 1; 
COMP "b" LOCATE =  SITE "P193" LEVEL 1; 
COMP "c" LOCATE =  SITE "P205" LEVEL 1; 
COMP "d" LOCATE =  SITE "P4" LEVEL 1; 
SCHEMATIC END ;
